<div class="mx-auto" style="width: 400px;">
  <h5 class="h1">
    Our Houses</h5>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>


<ul class="list-unstyled m-5">
  <li (click)="seeHouse(item)" *ngFor= "let item of collection | paginate: { itemsPerPage: 10, currentPage: p }"  class="media m-5">
    <img class="sm" src="../../../assets/img/house.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{item.name}}</h5>
      <p class="card-text">
        <small class="text-muted">Mascot: {{item.mascot}}</small><br>
        <small class="text-muted">Head of house: {{item.headOfHouse}}</small><br>
        <small class="text-muted">House Ghost: {{item.houseGhost}}</small><br>
        <small class="text-muted">founder: {{item.founder}}</small><br>

      </p>

    </div>
  </li>
  <pagination-controls class="m-5" (pageChange)="p = $event"></pagination-controls>
</ul>
